<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Campground - YelpCamp</title>
</head>
<body>
    <!-- NAVIGATION | IMPLEMENTATION -->
    <% include ../partials/navigation.ejs %>

    <h1><%= campground.name %></h1>
    <img src="<%= campground.image %>" width="100%" heigth="100%">
    <p><%= campground.description %></p>

    <% campground.comments.forEach(comment => { %>
    <h3><%= comment.text %> &dash; <%= comment.author %></h3>
<% }); %>

</body>
</html>